.full-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidenav-container {
  display: flex;
  flex: 1;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.router-outlet {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Style for active link */
.active-link {
  background-color: rgba(0, 0, 0, 0.1); /* Adjust the color as needed */
}
