
<div *ngIf="item">
  <div mat-dialog-title class=" shadow-lg " >




<app-button buttonColor="warn" (onClick)="onNoClick()">Back</app-button>


  </div>
  <mat-dialog-content class="mat-typography " >




    <div class="container grid grid-cols-1 justify-center p-0
    justify-items-center">
      <div class>
        <div class="flex justify-center">
          <div class=" shadow-lg overflow-hidden   w-[35rem] bg-gray-50">
            <div class="h-64 w-full bg-center top-0  mat-elevation-z2
                       bg-cover"
              style="background-image:  url({{item.imageUrl}});"></div>

            <div class="p-6">
              <span class="text-sm text-gray-400">{{ item.category }}</span>
              <div class="flex justify-between items-center text-base">
                <div class="text-gray-900 font-bold text-xl">
                  {{ item.name }}
                </div>
                <div class="text-red-500">

                  <span class="text-lg
                  font-medium"> {{item.price | number:'2.2-2' }} </span><span
                    class="text-green-600 text-xs">€</span>
                </div>
                <!-- <span class="font-bold text-xl text-red-500">{{ item.price }}$</span> -->
              </div>

              <p class="text-gray-500 pt-1 font-light break-all">
                {{ item.description }}
              </p>



              <div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>


